<h1>Editing student_detail</h1>

<%= render 'form' %>

<%= link_to 'Show', @student_detail %> |
<%= link_to 'Back', student_details_path %>

#|TODO need to show picture of student if picture is present and ask user if they want to change picture
#|TODO edit needs to hide the student special number to stop editing of this number
